.header {
    position: fixed !important;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: row !important;
    // background-color: silver !important;
    padding: 20px;
    z-index: 1 !important;
}