.cards {
    &-row {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5vw;

        .css-5c1adp-MuiContainer-root {
            width: 18%;
            padding: 0;
            margin: 0;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        // width: 300px;
        gap: 10px;
        border-radius: 20px;
        padding: 15px 0 30px;
        word-wrap: break-word;

        .css-5c1adp-MuiContainer-root {
            width: 300px;
        }
    }


    &-sublist {
        height: 65vh;
        width: 100%;
        padding-bottom: 4vh;
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow-y: scroll;
    }
}